main {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
}

main h1 {
  grid-column: 1 / 4;
}

main li:first-of-type {
  grid-column: 1 / 4;
  grid-row: 2 / 3;
  background-color: red;
}
